<!DOCTYPE html>
<html lang="nl">
    <head>
        <!-- Required meta tags -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title%}{% endblock %}</title>
        <!-- Import JavaScript and CSS -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/materialize.min.css') }}">
        <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
    </head>

    <!-- loader -->
    <div id="loading" class="fancyboiiloader">
        <section class = "loader">
            <div class = "ring-frame"></div>
            <div class = "disc-frame"></div>
            <section class = "loading">LOADING...</section>
        </section>
    </div>
    <!-- end loader -->

    <!-- Let's the game begin! -->
    <body>
        <!-- navigation bar -->
        <nav role="navigation">
            <div class="nav-wrapper container">
                <!-- Home button -->
                <a id="homeButton" class="expandingButton hide-on-med-and-down" href="{{url_for('home')}}">
                    <img src="{{ url_for('static', filename='icons/home.png')}}"/>
                    <span class="text" id="homeText">Home</span>
                </a>
                <!-- end home button -->

                <!-- desktop menu items -->
                <ul class="right hide-on-med-and-down">
                    <!-- HMI -->
                    <li><a href="{{url_for('hmi.start')}}" class="expandingButton" style="border-radius:5px;--clr:#rgba(0, 0, 0, 0.0);--hovclr:#0039688c;">
                        <span class="icon">
                            <embed style="margin-left: -5px;" src="{{ url_for('static', filename='icons/HMI.png')}}" height="32" width="32"/>
                        </span>
                        <span class="text">HMI</span>
                    </a></li>
                    <!-- end HMI -->

                    <!-- Test page -->
                    <!-- <li><a href="{{url_for('test')}}" class="expandingButton" style="--clr:#rgba(0, 0, 0, 0.0);--hovclr:#73ff00;">
                        <span class="icon">⚙</span>
                        <span class="text">Test</span>
                    </a></li> -->
                    <!-- end test page -->

                    <!-- settings page -->
                    <li><a href="{{url_for('settings')}}" class="expandingButton" style="--clr:#rgba(0, 0, 0, 0.0);--hovclr:#0000006e;">
                        <span class="icon">
                            <embed style="margin-left: -5px;" src="{{ url_for('static', filename='icons/settings.svg')}}" height="32" width="32"/>
                        </span>
                        <span class="text">Settings</span>
                    </a></li>
                    <!-- end settings page -->

                    <!-- Info page -->
                    <li><a href="{{url_for('info')}}" class="expandingButton" style="--clr:rgba(0, 0, 0, 0.0);--hovclr:#008cff;">
                        <span class="icon">
                            <embed style="margin-left: -5px;" src="{{ url_for('static', filename='icons/info.svg')}}" height="32" width="32"/>
                        </span>
                        <span class="text">Info</span>
                    </a></li>
                    <!-- end info page -->
                </ul>
                <!-- end desktop menu items -->

                <!-- mobile menu items -->
                <ul id="nav-mobile" class="sidenav">
                    <li><a href="{{url_for('home')}}">Home</a></li>
                    <li><a href="{{url_for('hmi.start')}}">HMI</a></li>
                    <!-- <li><a href="{{url_for('test')}}">Test</a></li> -->
                    <li><a href="{{url_for('settings')}}">Settings</a></li>
                    <li><a href="{{url_for('info')}}">Info</a></li>
                </ul>
                <!-- end mobile menu items -->

                <!-- mobile nav-bar trigger -->
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><img src="{{ url_for('static', filename='icons/list.png')}}" height="32px" width="32px" style="vertical-align: middle;"></a>
            </div>
        </nav>
        <!-- end navigation bar -->
        
        <!-- content -->
        {% block content %}{% endblock %}
        <!-- end content -->

        <!-- footer -->
        {% if not title == 'HMI'%}
        <footer class="page-footer teal">
            <div class="container">
                <div class="row">
                    <div class="col l9 s12">
                        <h5 class="white-text">Skills project team</h5>
                        <p class="grey-text text-lighten-4">We zijn een team van studenten die aan dit project werken alsof het onze fulltime baan is. Elk bedrag zou helpen de ontwikkeling van dit project te ondersteunen en voort te zetten en wordt zeer op prijs gesteld.</p>            
                        <p class="grey-text text-lighten-4">Voor status van het magazijn, ga naar de Onderhouds pagina. Om outputs te overschrijven, schakel Dev-modes in op de Settings pagina </p>            
                    </div>
                    <div class="col l3 s12">
                        <h5 class="white-text">Pagina's</h5>
                        <ul>
                            <li><a class="white-text" href="{{url_for('hmi.start')}}">HMI</a></li>
                            <li><a class="white-text" href="{{url_for('settings')}}">Settings</a></li>
                            <li><a class="white-text" href="{{url_for('hmi.onderhoud')}}">Onderhoud</a></li>
                            <li><a class="white-text" href="{{url_for('info')}}">Info</a></li>
                            <li><a class="white-text" href="{{url_for('page_not_found')}}">Overige</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                Made by <a class="brown-text text-lighten-3" href="{{url_for('info')}}">Tommy de Wever, Thijm van Lier, Leon Hulsebos</a>
                </div>
            </div>
        </footer>
        {% endif %}
        <!-- end footer -->

        <!-- import Javascript -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/loader.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/init.js') }}"></script>
        <!-- This website has been created by the most amazing engineers you know! -->
        <!-- If you can read this, I'm sure you can find our great Easter eggs too 😜 -->
    </body>
</html>