{% extends "base.html" %}
{% block titel %}{{titel}}{%endblock%}
{% block content%}
<body>
    <div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot">
        <div class="container">
          <br><br>
          <h1 class="header center blue-text text-lighten-1">Skills magazijn</h1>
          <div class="row center">
            <h5 class="header col s12 light">Een interactief magazijn gebaseerd op Industry 4.0</h5>
            <!-- <p>Groetjes NIEMAND</p> -->
          </div>
          <div class="row center">
            <a href="{{url_for('hmi.start')}}" id="homePageButton" class="btn-large waves-effect waves-light blue">Ga naar HMI</a>
          </div>
          <br><br>
  
        </div>
      </div>
      <div class="parallax"><img src="{{ url_for('static', filename='photos/background1.jpg') }}" alt="Unsplashed background img 1"></div>
    </div>
  
  
    <div class="container">
      <div class="section">
  
        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center" style="margin: -10px 0;"><img height="64px" width="64px" src="{{url_for('static', filename='icons/conveyor.png')}}"></h2>
              <h5 class="center">Industry 4.0</h5>
  
              <p class="light">Smart Industry of Industry 4.0 maakt wat men noemt een "smart factory". Binnen deze slimme fabrieken, worden machines gekoppeld en uitgelezen, zodat er een goed inzicht kan worden verkregen in wat er werkelijk in de fabriek gebeurt en de processen sneller kunnen worden geoptimaliseerd.</p>
            </div>
          </div>
  
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center" style="margin: -10px 0;"><embed height="64px" width="64px"  src="{{url_for('static', filename='icons/connect.svg')}}"></h2>
              <h5 class="center">Web socket</h5>
  
              <p class="light">Doormiddel van een Websocket is het mogelijk om live data van de client en de server te communiceren. Deze communicatie met de server word ook automatisch doorgevoerd naar de andere clients. </p>
            </div>
          </div>
  
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center" style="margin: -10px 0;"><img height="64px" width="64px"  src="{{url_for('static', filename='icons/energy.png')}}"></h2>
              <h5 class="center">Efficiëntie</h5>
  
              <p class="light">Instellingen en status worden efficiënt doorgevoerd van en naar de server om bandbreedte te besparen. Onze efficiënte datacommunicatie heeft ook een ingebouwde fout herstel. Doordat de data pakketten efficiëntie worden doorgevoerd, kan een snelle update frequentie gegarandeerd worden. </p>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  
  
    <div class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
            <h5 class="header col s12 light">Met een eenvoudige Settings pagina die zeer gebruiksvriendelijk is.</h5>
          </div>
          <div class="row center">
            <a href="{{url_for('settings')}}" id="homePageButton" class="btn-large waves-effect waves-light blue">Ga naar Settings</a>
          </div>
        </div>
      </div>
      <div class="parallax"><img src="{{ url_for('static', filename='photos/background2.jpg') }}" alt="Unsplashed background img 2"></div>
    </div>
  
    <div class="container">
      <div class="section">
  
        <div class="row">
          <div class="col s12 center">
            <h3><i class="mdi-content-send brown-text"></i></h3>
            <h4>Het project</h4>
            <p class="left-align light">
              Het project draait om industrie 4.0. Het is namelijk een fabricagelijn die aangesloten kan worden op een selectie van Festo MPS modules. 
              Op de computer kan via de webinterface geselecteerd  worden welke extra handelingen je wilt uitvoeren op de potjes. 
              De eerste optie is of je er een muntje in het potje wilt (via de MPS Handeling). 
              De tweede optie is of je er een deksel op wilt (via de MPS Handeling) en als laatste kan je zeggen in welk magazijn je het potje wil laten eindigen (via de MPS Sorting). 
            </p><p class="left-align light">
              Dit wordt allemaal aangestuurd via een Raspberry Pi 4 (master) en een siemens PLC.
              Het magazijn kan 3 verschillende soorten potjes aangeven (Rode, Zwarte, Zilveren). Op een computer kan je aangeven welke kleur je wilt ontvangen en de hoeveelheid.
              </p>
          </div>
        </div>
  
      </div>
    </div>
  
  
    <div class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
            <h5 class="header col s12 light grey-text text-lighten-5">Op de Settings pagina is het ook mogelijk om Dev-modus aan te zetten, hierdoor is de onderhouds pagina beschiktbaar.</h5>
          </div>
        </div>
      </div>
      <div class="parallax"><img src="{{ url_for('static', filename='photos/background3.jpg') }}" alt="Unsplashed background img 3"></div>
    </div>

</body>

<script>
  $(document).ready(function() {
      $('#loading').hide();  
  });
</script>

{% endblock %}