{% extends "base.html" %}
{% block titel %}{{titel}}{%endblock%}
{% block content%}
<link rel='stylesheet' type="text/css" href='static/css/infoPage.css'>

<div id="stars2"></div>
<div id="stars3"></div>
<div id="stars"></div>

<body>
    <div class="maxSize">
            
        <div class="magicCard">
            <div class="box">
                <span></span>
                <div class='content'>
                    <div class="cardPicture">
                        <img src='static/photos/background1.jpg' height="200" width="150">
                    </div>
                    <h2>Naam van persoon</h2>
                    <p>Leeftijd: xx
                    </p>
                    <div class='hidden'>
                        <p>hier kan nog wat extra informatie over de persoon in de foto
                        </p>
                        <!-- <div id='cardButton' style="--clr:#ff6600;--i:0;--fgc:#d48206;"><a>Button</a></div> -->
                    </div>
                    <a href="#">Go to</a>
                </div>
            </div>
            <div class="box">
                <span></span>
                <div class='content'>
                    <div class="cardPicture">
                        <img src='static/photos/background1.jpg' height="200" width="150">
                    </div>
                    <h2>Naam van persoon</h2>
                    <p>Leeftijd: xx
                    </p>
                    <div class='hidden'>
                        <p>hier kan nog wat extra informatie over de persoon in de foto
                        </p>
                        <!-- <div id='cardButton' style="--clr:#ff6600;--i:0;--fgc:#d48206;"><a>Button</a></div> -->
                    </div>
                    <a href="#">Go to</a>
                </div>
            </div>
            <div class="box">
                <span></span>
                <div class='content'>
                    <h2>Hoi</h2>
                    <p>heel veel random text.
                        vnskjfvbasldbvlfsdav dg df
                        gstdgs dgs rebfirbg dfbgsf dsh fthdhdzhz zhbs
                    </p>
                    <a href="#">Go to</a>
                </div>
            </div>
        </div>
    
    </div>
</body>

<script>
    $(document).ready(function() {
        $('#loading').hide();  
    });
</script>
{%endblock%}