{% extends "base.html" %}
{% block titel %}{{titel}}{%endblock%}
{% block content%}
<link rel='stylesheet' type="text/css" href='static/css/settings.css'>

<body> 
    <!-- max venster size -->
    <div class="Maxium">

        <div class="settingswitches">
            <!-- selectie master slave -->
            <div class="settingbox" style="margin-top: 64px;">
                <div class="masterswitch">
                    <p class="infotext"> Zet magazijn in Master-mode of Slave-mode.</p>
                    <div class="switch singleSwitch" id="masterswitch">
                        <div class="links">
                            <b class="links">MASTER</b>
                        </div>
                        <label>
                            <div class="centerswitch">
                                <input type="checkbox">
                                <span class="lever"></span>
                            </div>
                        </label>
                        <div class="rechts">
                            <b class="rechts">SLAVE</b>                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- selectie wifi hotspot -->
            <div class="settingbox">
                <div class="wifiswitch">
                    <p class="infotext"> Wifi inschakelen zodat het magazijn berijkbaar is over wifi.</p>
                    <div class="switch singleSwitch" id="wifiswitch">
                        <div class="links">
                            <div class="text">
                                <b>HOTSPOT OFF</b>
                            </div>
                        </div>
                        <label>
                            <div class="centerswitch">
                                <input type="checkbox">
                                <span class="lever"></span>
                            </div>
                        </label>
                        <div class="rechts">
                            <div class="text">
                                <b>HOTSPOT ON</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- selectie developer mode -->
            <div class="settingbox">
                <div class="devswitch">
                    <p class="infotext"> Developer settings inschakelen.</p>
                    <div class="switch singleSwitch" id="devswitch">
                        <dev class="links">
                            <b>DEFAULT</b>
                        </dev>
                        <label>
                            <div class="centerswitch">
                                <input type="checkbox">
                                <span class="lever"></span>
                            </div>
                        </label>
                        <div class="rechts">
                            <b>DEVELOPER</b>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <div class="powerbutton">
            <a class="btn-floating btn-large waves-effect waves-light red">
                <embed class="powericon" src='..\static\icons\power_settings.svg' height="32" width="32"></embed>
            </a>
        </div>
    </div>
</body>

{% endblock %}