{% extends "base.html" %}
{% block titel %}{{titel}}{%endblock%}
{% block content%}
<link rel='stylesheet' type="text/css" href="{{ url_for('static', filename='css/HMI.css')}}">
<body>
    <!-- <div class='topInfo'>
        <p id='timeText'>Time past: <b id='time'></b></p>
        <p id='activeUsers'>Active users: <b id='users'></b></p>
    </div> -->
    <!-- stricky info -->
    <div class='stickyInfo'>
        <p id='timeText'>Time past: <b id='time'></b></p>
        <p id='timeText'>Active users: <b id='users'></b></p>
    </div>
    <!-- end stricky info -->
    <div id='content' class="HMIcontent"><!--class="container"> -->
        <div class="fotoBlokje hmicard">
            <h4>Order preview</h4>
            <div class="photos">
                <img id="deDeksel"  height="50" width="300">
                <img id="hetMuntje"  height="50" width="300">
                <img id="hetBlokje"  height="200" width="300">
            </div>
        </div>
        <div class="options hmicard">
            <h4>Order </h4>
            <form class="form">
                <div class="mycheckbox">
                    <div class="inputGroup">
                        <input id="Deksel" name="option1" type="checkbox" onclick="updateBlokje();"/>
                        <label for="Deksel">Deksel</label>
                    </div>
                    
                    <div class="inputGroup">
                        <input id="Muntje" name="option2" type="checkbox" onclick="updateBlokje();"/>
                        <label for="Muntje">Muntje</label>
                    </div>
                    <div style="display: inline-flex; flex-direction: row; margin-top: -9.5px;">
                        <div class="inputGroup">
                            <input id="Rood" name="radio" type="radio" onclick="updateBlokje();" checked/>
                            <label for="Rood">Rood</label>
                        </div>
                        <div class="inputGroup">
                            <input id="Zwart" name="radio" type="radio" onclick="updateBlokje();"/>
                            <label for="Zwart">Zwart</label>
                        </div>
                        <div class="inputGroup">
                            <input id="Zilver" name="radio" type="radio" onclick="updateBlokje();"/>
                            <label for="Zilver">Zilver</label>
                        </div>
                    </div>
                </div>
                <div id='sendButton' class='glowingButton' onclick="sendOrder();" style="--clr:#3822ff;--i:0;--fgc:#0000ff;">
                    <a id='sendButtonText'>Verzenden</a>
                </div>
            </form>
        </div>
        <div class="statusBox">
            <div class="statusWindow">
                <img id="statusSystem" width="1440">
                <img class="blokie" id="blokie" width="180" height="120">
            </div>
        </div>
        

        <!-- <div class='glowingButton' onclick="toggel();" style="--clr:#22aeff;--i:0;--fgc:#00d9ff;">
            <a>Motor</a>
        </div>
        <div style="
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;">
        <div class='glowingButton' onclick="cilinder1();" style="--clr:#ff0000;--i:0;--fgc:#bd0000;">
            <a>Cilinder 1</a>
        </div>
        <div class='glowingButton' onclick="cilinder2();" style="--clr:#cec000;--i:0;--fgc:#babd00;">
            <a>Cilinder 2</a>
        </div>
        <div class='glowingButton' onclick="cilinder3();" style="--clr:#09ff00;--i:0;--fgc:#00ac00;">
            <a>Cilinder 3</a>
        </div>-->
    </div> 
        <!-- <small><pre id='data'></pre></small>
    </div> -->
</body>
<!-- <script>
    $('#content').hide();
    $('#loading').show();
</script> -->
<script src="{{ url_for('static', filename='js/HMI/HMI-main.js') }}"></script>
<script src="{{ url_for('static', filename='js/HMI/HMI-controls.js') }}"></script>

{% endblock %}