{% extends "base.html" %}
{% block titel %}{{titel}}{%endblock%}
{% block content%}
<link rel='stylesheet' type="text/css" href='static/css/HMI.css'>
<body>
    <div id="loading" class="loader">
        <h1>Loading</h1>
    </div>
    <div class='topInfo'>
        <p id='timeText'>Time past: <b id='time'></b></p>
        <p id='timeText'>Active users: <b id='users'></b></p>
    </div>
    <div id='content' class="container">
        <p>Hoi</p>
        <p><pre id='data'></pre></p>
    </div>
</body>
<script src="{{ url_for('static', filename='js/HMI/onderhoud.js') }}"></script>
{% endblock %}