.links{
    width: 0;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
}

.rechts{
    width: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.centerswitch{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* margin:5px; */
}

.singleSwitch{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.masterswitch{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;    
}

#masterswitch{
    zoom: 1.;
}

.switch b{
    color: floralwhite;
}

.wifiswitch{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

#wifiswitch{
    display: flex;
    zoom: 1.;
}

.devswitch{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

#devswitch{
    display: flex;
    zoom: 1.;
}

.settingswitches{
    margin-top: 64px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.Maxium{
    margin-top: -5px;
    min-height: calc(100vh - 64px);
    /* display: flex; */
    align-content: center;
    justify-content: center;
}

.text{
    display: flex;
    text-align: left;
    width: max-content;
}

.settingbox{
    display: flex;
    height: fit-content;
    width: fit-content; 
    justify-content: center;
    border-radius: 10px;
    background-color: #444444;
    min-width: 600px;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 2px 1px #161616;
}

.infotext{
    --clr:#ffffff; 
    margin:0px; 
    zoom: 1.4;
}

.powericon{
    display: inline;
    vertical-align: middle;
    margin-bottom: 2px;
}

.powerbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.onderhoudbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}


.settingbox a{
    display: inline-block;

}

.settingbox embed{
    pointer-events: none;
}

.infotextsmall{
    --clr:#ffffff; 
    margin:0px; 
    display: flex;
    justify-content: center;
}

