/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/* nav ul a, */
nav .brand-logo {
  position: absolute;
  display: inline-grid;
  block-size: 64px;
  flex-wrap: nowrap;
  align-items: center;
}
nav{
  color: #ccc;
  background-color: #444;
}


nav ul li a {
    /* display: table-cell; */
    vertical-align: middle;
}
nav ul li span embed{
  margin-left: -5px;
}

.parallax-container .parallax img{
  filter: blur(3px);
}

body{
  color: white;
  background: #333;
}


p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(184, 184, 184, 0.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

#homePageButton:hover {
  box-shadow: 0 0 5px #2196F3, 0 0 15px #2196F3, 0 0 30px #2196F3, 0 0 50px #2196F3;
}

.expandingButton {
  /* margin: 10vh; */
  /* margin-top: 10px; */
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  background-color: var(--clr);
  color: white;
  text-decoration: none;
  border-radius: 60px;
  height: 36px;
  display: inline-flex;
  align-items: center;
  overflow:hidden;
  width: auto;
  max-width: 36px; /** I'm animating max-width because width needs to be auto, and auto can't be animated **/
  -webkit-transition: max-width 1s;
  transition: max-width 1s; 
}
.expandingButton:hover {
  background-color: var(--hovclr);
  max-width: 300px;   
  animation: glowing 2s infinite;
}
.expandingButton .icon {
  /* font-family: "Font Awesome 5 Free"; */
  font-size: 16px;
  margin-right: 10px;
  margin-left: -8px;
  /* padding: 0px 7px; */
  display: flex;
  align-items: center;
}
.expandingButton .text {
  white-space: nowrap;
  padding-right: 7px;
}
#homeButton{
  border-radius: 0; 
  --clr: #rgba(0, 0, 0, 0.0); 
  --hovclr: #00000000; 
  vertical-align: middle; 
  height: 48px; 
  min-width: 48px;
}
#homeText{
  font-size: 2.1rem;
  padding: 0 7px; 
}

footer.page-footer {
  margin: 0;
  display:flex;
  flex-direction: column;
  height: auto;
  overflow: hidden;
  max-height: auto;
  -webkit-transition: max-height 1s;
  transition: max-height 1s; 

}

.maxSize{
  margin-top: -5px;
  min-height: calc(100vh - 64px);
  display: flex;
  align-content: center;
  justify-content: center;
}

.loader{
  /* position: absolute; */
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(20 20 20 / 62%);
  /* background: rgba(90,90,90,0.8); */
  /* height: calc(100vh - 64px); */
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(2px);
  z-index: 10;
}

:root{
	--red:#ff3420;
	--yellow:#ffea29;
	--blue:#1FD3B7;
	--size:150px;
	}
	

/* .fancyboiiloader{
	display:flex;
	height:100vh;
	width:100%;
	align-items:center;
	justify-content:center;
	padding:0;
	margin:0;
	background:#02143c;
} */

.fancyboiiloader{
  z-index: 10;
  top: 0;
  left: 0;
  position: sticky;
	height:0;
	width:100%;
}

	
.ring-frame,
.disc-frame{
	height:100%;
	width:100%;
	display:flex;
	align-items:center;
	justify-content:center;
}

.ring-frame,
.disc-frame,
.ring,
.disc{
	position:absolute;
}
	
.ring{
	border:2px solid rgba(255,35,49,0.1);
	border-left:2px solid var(--red);
	border-right:2px solid var(--red);
	border-radius:50%;
	display:flex;	
	z-index:13;
}

.ring:nth-child(1){
	animation: spin 1s linear infinite;
}

.ring:nth-child(2){
	animation: spinner 1.25s linear infinite;
}

.ring:nth-child(3){
	animation: spin 1.5s linear infinite;
}

.disc{
	height:var(--size);
	width:var(--size);
	border:2px solid var(--red);
	opacity:.9;
	border-radius:50%;
	animation:rotate 3s linear infinite;	
}

.stickyInfo{
  position: sticky;
  width: fit-content;
  top: 0px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  margin-left: auto;
  border-radius: 5px;
  z-index: 8;
  background: rgba(54, 54, 54, 0.6);
  color: rgb(202, 202, 202);
}
.stickyInfo p{
  margin: 0 5px;
}

/* .loading{
	display:block;
	font-family:NTF Grand, sans-serif;
	font-size:1.5rem;
	letter-spacing:.25rem;
	color: #20b7ff;
  background-color: rgba(0, 166, 255, 0.233);
  padding-left: 7px;
  border-radius: 5px;
  box-shadow: 0 0 18px #ff0000ad, inset 0 0 18px #ff0000ad;
	animation:blink 1s ease infinite;
} */
.loading {
  display: block;
  font-family: monospace;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: .25rem;
  color: #20b7ff;
  background-color: rgb(0 0 0 / 23%);
  padding-left: 7px;
  backdrop-filter: blur(5px);
  border-radius: 5px;
  box-shadow: 0 0 5px 5px rgb(0 0 0 / 23%);;
  animation: blink 1s ease infinite;
}

@keyframes blink{
0%,
100%{
	opacity:1;
	}
50%{
	opacity:0;
}
}

@keyframes rotate{
	100%{
		transform:rotate3D(.5,0.5,0.5,-720deg);
	}
}

@keyframes spin{
	to{
		transform:rotateZ(-360deg);
	}
}

@keyframes spinner{
	to{
		transform:rotateZ(360deg);
	}
}