/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/* nav ul a, */
nav .brand-logo {
  position: absolute;
  display: inline-grid;
  block-size: 64px;
  flex-wrap: nowrap;
  align-items: center;

}
nav{
  color: #ccc;
  background-color: #444;
}


nav ul li a {
    /* display: table-cell; */
    vertical-align: middle;
}
nav ul li span embed{
  margin-left: -5px;
}

body{
  color: white;
  background: #333;
}


p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(184, 184, 184, 0.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.expandingButton {
  /* margin: 10vh; */
  /* margin-top: 10px; */
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  background-color: var(--clr);
  color: white;
  text-decoration: none;
  border-radius: 60px;
  height: 36px;
  display: inline-flex;
  align-items: center;
  overflow:hidden;
  width: auto;
  max-width: 36px; /** I'm animating max-width because width needs to be auto, and auto can't be animated **/
  -webkit-transition: max-width 1s;
  transition: max-width 1s; 
}
.expandingButton:hover {
  background-color: var(--hovclr);
  max-width: 300px;   
  animation: glowing 2s infinite;
}
.expandingButton .icon {
  /* font-family: "Font Awesome 5 Free"; */
  font-size: 16px;
  margin-right: 10px;
  margin-left: -8px;
  /* padding: 0px 7px; */
  display: flex;
  align-items: center;
}
.expandingButton .text {
  white-space: nowrap;
  padding-right: 7px;
}
#homeButton{
  border-radius: 0; 
  --clr: #rgba(0, 0, 0, 0.0); 
  --hovclr: #00000000; 
  vertical-align: middle; 
  height: 48px; 
  min-width: 48px;
}
#homeText{
  font-size: 2.1rem;
  padding: 0 7px; 
  font-family: cursive;
}

footer.page-footer {
  margin: 0;
  display:flex;
  flex-direction: column;
  height: auto;
  overflow: hidden;
  max-height: auto;
  -webkit-transition: max-height 1s;
  transition: max-height 1s; 

}

.maxSize{
  margin-top: -5px;
  min-height: calc(100vh - 64px);
  display: flex;
  align-content: center;
  justify-content: center;
}

.loader{
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;

  background: rgba(90,90,90,0.8);
  height: calc(100vh - 64px);
  width: 100%;
  backdrop-filter: blur(2px);
  z-index: 10;
}
